@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 1.6rem;
}

.slider {
    position: absolute;
    width: 840px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 20px;
    background-color: #414b87;
    border: 20px solid #414b87;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    display: flex;
    margin-bottom: 24px;
    transition: .5s;
}

.slide {
    width: 25%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.slide>img {
    width: 100%;
}

#slide-1:checked ~ .slides {
    margin-left: 0;
}

#slide-2:checked ~ .slides {
    margin-left: -100%;
}

#slide-3:checked ~ .slides {
    margin-left: -200%;
}

#slide-4:checked ~ .slides {
    margin-left: -300%;
}

#slide-1:checked ~ .description-container label:nth-of-type(1)>span,
#slide-2:checked ~ .description-container label:nth-of-type(2)>span,
#slide-3:checked ~ .description-container label:nth-of-type(3)>span,
#slide-4:checked ~ .description-container label:nth-of-type(4)>span {
    background: transparent;
}

.overflow-container {
    width: 400px;
    overflow: hidden;
}

.descriptions {
    width: 400%;
    display: flex;
    transition: .5s;
}

.description-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.description {
    width: 25%;
}

#slide-1:checked ~ .description-container .descriptions {
    margin-left: -300%;
}

#slide-2:checked ~ .description-container .descriptions {
    margin-left: -200%;
}

#slide-3:checked ~ .description-container .descriptions {
    margin-left: -100%;
}

#slide-4:checked ~ .description-container .descriptions {
    margin-left: 0;
}

.navigation {
    display: flex;
}

label {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}

label>span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #4885ff;
    background: #4885ff;
    transition: .5s;
}

label:hover>span {
    border-color: #e6eeff;
    background: #e6eeff;
}